
*{
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 300;
}
h5{
    font-weight: 400;
}
h4{
    font-weight: 500;
}
.btn-danger, .btn-success, .btn-primary{
    text-shadow: 0 0 3px black;
}
.player-action{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
.modal-body{
    border: none !important;
}.modal-footer{
    border: none !important;
}.modal-header{
    border: none !important;
}
.noselect{
    pointer-events: none;
}

.col-values{
	float: left;
	margin-right:5px;
}

.col-changes{
	font-size: 12px;
}

.current-value::after{
	content:" ";
}

.current-value.positive::after{
	content:" ↑";
}

.current-value.negative::after{
	content:" ↓";
}

.positive{
	color: #C00000;
}

.negative{
	color: #00C000;
}


.rotated-text{
	  /* Abs positioning makes it not take up vert space */
	  position: relative;
	  left: 40px;
	  font-size: 24px;
	  font-weight: bold;
	
	  /* Rotate from top left corner (not default) */
	  transform-origin: 0 0;
	  transform: rotate(90deg);
}